<% if @issue.tracker.process_workflow %>
  <% @issue.tracker.process_roles.each do |role| %>
    <% if role.safe_attribute? 'name' %> 
      <p>
        <% member = @issue.get_process_member(role.name) %>
        <% principal = member.principal unless member.nil? %>
        <%= content_tag("label", (role.name + (role.is_required? ? content_tag("span", " *", :class => "required"): "")).html_safe) %>
        <%= select_tag 'role[' + role.name + ']', principals_options_for_select(@issue.assignable_users, principal), :include_blank => (!role.is_required? or principal.nil?)  %>
      </p>
    <% end %>
  <% end %>
  
  <% step = @issue.process_step %>
  
  <% if User.current.allowed_to?(:set_process_step, @project, :global => false ) %>
    <p>
      <label><%= l(:label_step) %></label>
      <%= select_tag 'process_step', options_from_collection_for_select(@issue.tracker.process_steps, 'id', 'name', step.id ) %>
    </p>
  <% end %>
  
  <% unless step.nil? %>
    <h3><%= step.name %></h3>
    <% step.process_fields.order("position ASC").each do |field| %>
      <p>
        <% value = @issue.get_process_action(field.custom_field_id.to_s) %>
        <% value = ProcessAction.new(:issue_id => @issue.id, :process_field_id => field.id) if value.nil? %>
        <%= custom_field_tag_with_label 'process_fields', value, :required => @issue.required_attribute?(field.custom_field_id) %>
      </p>
    <% end %>  
  <% end %>
  
<% end %>