<div class="box tabular">
  <p><%= f.select 'custom_field_id', options_from_collection_for_select(CustomField.sorted.all, "id", "name", @field.custom_field_id)%></p>
  <p><%= f.select 'comparison_mode', ['none', 'eql?', 'ne?'] %>
  <p><%= f.text_field 'field_value' %>
  <p><%= f.select :step_if_true_id, options_from_collection_for_select(@field.process_step.tracker.process_steps, "id", "name", @field.step_if_true.nil? ? @field.process_step : @field.step_if_true_id)%></p>
  <p><%= f.select :step_if_false_id, options_from_collection_for_select(@field.process_step.tracker.process_steps, "id", "name", @field.step_if_false.nil? ? @field.process_step : @field.step_if_false_id)%></p> 
</div>