 <%= link_to l(:label_role_new), { :controller => :process_roles, :action => :new, :tracker_id => @tracker.id }, :class => 'icon icon-add' %>

<% if @roles.empty? %>
  <p class="nodata"><%= l(:label_no_data) %></p>
<% else %>
  <table class="list">
    <thead><tr>
    <th><%=l(:field_name)%></th>
    <th></th>
    <th></th>
    </tr></thead>
    <tbody>
  <% @roles.each do |role| %>
    <tr class="<%= cycle 'odd', 'even' %>">
      <td align="center"><%= role.name %></td>
      <td class="buttons"><%= link_to l(:button_edit), { :controller => 'process_roles', :action => 'edit', :id => role.id }, {:class => 'icon icon-edit'} %></td>
      <td class="buttons"><%= delete_link role %></td>
    </tr>
  <% end %>
  </table>
<% end %>
 