<% html_title(l(:label_condition)) %>
<h2><%= link_to l(:label_process_plural), {:controller => :process_workflows, :action => :index } %> &#187; <%= link_to @field.process_step.tracker.name, {:controller => :process_workflows, :action => :edit, :id => @field.process_step.tracker.id } %> &#187; <%= link_to @field.process_step.name, {:controller => :process_steps, :action => :edit, :id => @field.process_step.id } %> &#187; <%= link_to @field.custom_field.name, {:controller => :process_fields, :action => :edit, :id => @field.id } %> &#187; <%= l(:label_condition_new) %> </h2>

<%= labelled_form_for [@field, @condition] do |f| %>
  <%= render :partial => 'process_conditions/form', :locals => { :f => f } %>
  <%= f.submit %>
<% end %>